.spoiler-dix {
  width: 400px;
  margin-bottom: 10px;
  border: solid 1px #777777;
  border-radius: 5px;
}
.spd-header{
  width:100%;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #333333;
  color: #FFFFFF;
  cursor: pointer;
}
